<!Doctype html> 

<html>
	<head>
		<% include ../partials/head %>
		<meta charset="utf-8" />
		<title> Authentication </title>
	</head>
	<body>
		<header> 
			<% include ../partials/header %>
		</header>
		<form id= "Authenticate" action = "/submit" method = "post">
			Username: <input type="text" name="Username"><br>
			Password: <input type="password"  name="Password"><br>
						
		 <input name="Login" value="Login" type="submit" />
		</form>
		<script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io.connect('http://localhost:8080');
 
        </script>
		<footer>
   			 <% include ../partials/footer %>
		</footer>
	</body>
</html>